table{
    margin-left: 30px;
    padding:15px  20px;
    border-collapse: collapse;
}
.gray{
    background-color:gray;
    color: black;
}
 tr,th,td{
    border:solid 1px black;
    text-align: center;

}
tr:hover{
    background-color: gray;
}
tr{
    transition-property: all;
    transition-timing-function: ease-in;
    transition-delay: 0s;
    transition-duration: 10s;
}